@page "/patterns/details"
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IJSRuntime JsRuntime

<PageTitle>Details</PageTitle>

@if (pattern is null || Comment is null)
{
    <p><em>Loading...</em></p>
}
else {
    <p align="right" class="small-text">Created on @pattern.CreationDate</p>
    <p align="right" class="small-text">Last edited on @pattern.LastEditDate</p>
    <h2>
        @pattern.Name <span class="badge bg-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>@(" ") @likes
        </span>
    </h2>
    <h6><i>by @pattern.Author.UserName</i></h6>
    <div>Type: @pattern.Type</div>
    <div>Yarn used:
        @foreach(var yarn in pattern.Yarns)
        {
            <a href="@($"yarns/details?id={yarn.Id}")">@yarn.Name</a> @(" ")
        }
    </div>
    <div>
        Tools used:
        @foreach (var tool in pattern.Tools)
        {
            <a href="@($"tools/details?id={tool.Id}")">@tool.Name</a> 
            @(" ")
        }
    </div>
    <div>
        <a href="@($"/patterns/gallery?id={pattern.Id}")">View pattern gallery</a>
    </div>
    <hr />
    <div class="card">
        <div class="card-body" style="white-space: pre-wrap">@pattern.Content</div>
    </div>
    @if (user is not null)
    {
        @if (pattern.AuthorId == user.Id)
        {
            <div>
                <a href="@($"/patterns/edit?id={pattern.Id}")">Edit</a> |
                <a href="@($"/patterns/delete?id={pattern.Id}")">Delete</a> |
                <a href="@($"/patterns")">Back to List</a>
            </div>
        }
        else
        {
            @if (!isSaved)
            {
                <button type="button" class="btn btn-warning" @onclick="@(e => changeIsSaved(true))">Add to bookmarks</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(e => changeIsSaved(false))">Remove from bookmarks</button>
            }
            @if (!isLiked)
            {
                <button type="button" class="btn btn-info" @onclick="@(e => changeIsLiked(true))">Like</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(e => changeIsLiked(false))">Unlike</button>
            }
            @if (!isDone)
            {
                <button type="button" class="btn btn-success" @onclick="@(e => changeIsDone(true))">Mark as done</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(e => changeIsDone(false))">Mark as undone</button>
            }
        }
    }
    <h2>Comments</h2>
    <hr />
    @foreach (var c in patternComments)
    {
        @if (user is not null && c.AuthorId == user.Id)
        {
            <div class="card border-info card-body">
                You commented on @c.CreationDate <hr />
                <div style="white-space: pre-wrap">@c.Content</div> <hr />
                <div> <button type="button" class="btn btn-outline-danger" @onclick="@(e => DeleteComment(c))">Delete comment</button></div>
            </div>
        }
        else
        {
            <div class="card card-body">

                @if (c.AuthorId == pattern.AuthorId)
                {
                    <div>@c.Author.UserName <span class="badge bg-success">Pattern creator</span> commented on @c.CreationDate <hr /></div>
                }
                else
                {
                    <div>@c.Author.UserName commented on @c.CreationDate <hr /></div>
                }
                <div style="white-space: pre-wrap">@c.Content</div>
            </div>
        }
        <br />

    }

    <AuthorizeView Context="authContext">
        <Authorized>
            <EditForm method="post" Model="Comment" OnValidSubmit="AddComment" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="mb-3">
                    <label for="content" class="form-label">Add new comment</label>
                    <InputTextArea id="content" @bind-Value="Comment.Content" class="form-control" />
                    <ValidationMessage For="() => Comment.Content" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>Log in to comment on this pattern</p>
        </NotAuthorized>
    </AuthorizeView>

}

@code {
    private Pattern? pattern;
    private ApplicationUser? user;
    private PatternUser? patternUser;
    private List<Comment>? patternComments;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Comment Comment { get; set; } = new();

    private bool isSaved = false;
    private bool isLiked = false;
    private bool isDone = false;

    private int likes = 0;

    private ApplicationDbContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        pattern = await context.Patterns.Include(p => p.Author).Include(p => p.Yarns).Include(p => p.Tools).FirstOrDefaultAsync(m => m.Id == Id);
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
            user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();

        if (pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        likes = context.PatternUsers.Where(p => p.PatternId == pattern.Id && p.IsLiked).Count();
        patternComments = await context.Comments.Include(c => c.Author).Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
        if (user is not null && user.Id != pattern.AuthorId)
        {
            patternUser = await context.PatternUsers.FirstOrDefaultAsync(p => p.PatternId == pattern.Id && p.UserId == user.Id);
            if (patternUser is not null)
            {
                isSaved = patternUser.IsSaved;
                isLiked = patternUser.IsLiked;
                isDone = patternUser.IsDone;
            }
        }
    }

    private async Task AddComment()
    {
        // using var context = DbFactory.CreateDbContext();
        if (user is null) return;
        Comment.Author = user;
        Comment.AuthorId = user.Id;
        Comment.CraftObject = pattern;
        Comment.CraftObjectId = pattern.Id;
        Comment.CreationDate = DateTime.Now;
        context.Comments.Add(Comment);
        await context.SaveChangesAsync();
        patternComments.Add(Comment);
        NavigationManager.NavigateTo("/patterns/details?id=" + pattern.Id);
    }

    private async Task DeleteComment(Comment comment)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this comment?");
        if (confirmed)
        {
            patternComments.Remove(comment);
            context.Comments.Remove(comment);
            await context.SaveChangesAsync();
        }
    }

    private void createPatternUserIfNull()
    {
        if (patternUser is null)
        {
            patternUser = new PatternUser();
            patternUser.Pattern = pattern;
            patternUser.PatternId = pattern.Id;
            patternUser.User = user;
            patternUser.UserId = user.Id;
            context.PatternUsers.Add(patternUser);
        }
    }

    private async Task changeIsSaved(bool value)
    {
        createPatternUserIfNull();
        patternUser.IsSaved = value;
        await context.SaveChangesAsync();
        isSaved = value;
    }

    private async Task changeIsLiked(bool value)
    {
        createPatternUserIfNull();
        patternUser.IsLiked = value;
        await context.SaveChangesAsync();
        isLiked = value;
        likes = context.PatternUsers.Where(p => p.PatternId == pattern.Id && p.IsLiked).Count();
    }

    private async Task changeIsDone(bool value)
    {
        createPatternUserIfNull();
        patternUser.IsDone = value;
        await context.SaveChangesAsync();
        isDone = value;
    }
}
