@page "/patterns/details"
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Details</PageTitle>

@if (pattern is null || Comment is null)
{
    <p><em>Loading...</em></p>
}
else {
    <p align="right" class="small-text">Created on @pattern.CreationDate</p>
    <p align="right" class="small-text">Last edited on @pattern.LastEditDate</p>
    <h2>@pattern.Name</h2>
    <h6><i>by @pattern.Author.UserName</i></h6>
    <div>Type: @pattern.Type</div>
    <div>Yarn used: 
        @foreach(var yarn in pattern.Yarns)
        {
            <a href="@($"yarns/details?id={yarn.Id}")">@yarn.Name</a>
        }
    </div>
    <hr />
    <div class="card">
        <div class="card-body" style="white-space: pre-wrap">@pattern.Content</div>
    </div>
    @if (user is not null && pattern.AuthorId == user.Id)
    {
        <div>
            <a href="@($"/patterns/edit?id={pattern.Id}")">Edit</a> |
            <a href="@($"/patterns/delete?id={pattern.Id}")">Delete</a> |
            <a href="@($"/patterns")">Back to List</a>
        </div>
    }

    <h2>Comments</h2>
    <hr />
    @foreach (var c in patternComments)
    {
        @if (user is not null && c.AuthorId == user.Id)
        {
            <div class="card border-info card-body">
                You commented on @c.CreationDate <hr />
                <div style="white-space: pre-wrap">@c.Content</div>
            </div>
        }
        else
        {
            <div class="card card-body">

                @if (c.AuthorId == pattern.AuthorId)
                {
                    <div>@c.Author.UserName <span class="badge bg-success">Pattern creator</span> commented on @c.CreationDate <hr /></div>
                }
                else
                {
                    <div>@c.Author.UserName commented on @c.CreationDate <hr /></div>
                }
                <div style="white-space: pre-wrap">@c.Content</div>
            </div>
        }

    }

    <AuthorizeView Context="authContext">
        <Authorized>
            <EditForm method="post" Model="Comment" OnValidSubmit="AddComment" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="mb-3">
                    <label for="content" class="form-label">Add new comment</label>
                    <InputTextArea id="content" @bind-Value="Comment.Content" class="form-control" />
                    <ValidationMessage For="() => Comment.Content" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>Log in to comment on this pattern</p>
        </NotAuthorized>
    </AuthorizeView>

}

@code {
    private Pattern? pattern;
    private ApplicationUser? user;
    private List<Comment>? patternComments;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Comment Comment { get; set; } = new();

    private ApplicationDbContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        pattern = await context.Patterns.Include(p => p.Author).Include(p => p.Yarns).FirstOrDefaultAsync(m => m.Id == Id);
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
            user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();

        if (pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        patternComments = await context.Comments.Include(c => c.Author).Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
    }

    private async Task AddComment()
    {
        // using var context = DbFactory.CreateDbContext();
        if (user is null) return;
        Comment.Author = user;
        Comment.AuthorId = user.Id;
        Comment.CraftObject = pattern;
        Comment.CraftObjectId = pattern.Id;
        Comment.CreationDate = DateTime.Now;
        context.Comments.Add(Comment);
        await context.SaveChangesAsync();
        patternComments.Add(Comment);
        NavigationManager.NavigateTo("/patterns/details?id=" + pattern.Id);
    }
}
