@page "/patterns/details"
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

@if (pattern is null)
{
    <p><em>Loading...</em></p>
}
else {
    <p align="right" class="small-text">Created on @pattern.CreationDate</p>
    <p align="right" class="small-text">Last edited on @pattern.LastEditDate</p>
    <h2>@pattern.Name</h2>
    <h6><i>by @pattern.Author.UserName</i></h6>
    <div>Type: @pattern.Type</div>
    <hr />
    <div class="card">
        <div class="card-body" style="white-space: pre-wrap">@pattern.Content</div>
    </div>
    <div>
        <a href="@($"/patterns/edit?id={pattern.Id}")">Edit</a> |
        <a href="@($"/patterns")">Back to List</a>
    </div>
}

@code {
    private Pattern? pattern;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        pattern = await context.Patterns.Include(p => p.Author).FirstOrDefaultAsync(m => m.Id == Id);

        if (pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
