@page "/patterns/edit"
@attribute [Authorize]
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Pattern</h2>
<hr />
@if (Pattern is null || yarnList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Pattern" OnValidSubmit="UpdatePattern" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Pattern.Id" value="@Pattern.Id" />
                <input type="hidden" name="Pattern.AuthorId" value="@Pattern.AuthorId" />
                <input type="hidden" name="Pattern.CreationDate" value="@Pattern.CreationDate" />
                <input type="hidden" name="Pattern.LastEditDate" value="@Pattern.LastEditDate" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Pattern.Name" class="form-control" />
                    <ValidationMessage For="() => Pattern.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <InputText id="type" @bind-Value="Pattern.Type" class="form-control" />
                    <ValidationMessage For="() => Pattern.Type" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputTextArea id="content" @bind-Value="Pattern.Content" class="form-control" />
                    <ValidationMessage For="() => Pattern.Content" class="text-danger" />
                </div>
                <div class="mb-3">
                    Add yarn to pattern:
                    @foreach (var yarn in yarnList)
                    {
                        @if (Pattern.Yarns.Contains(yarn))
                        {
                            <div>
                                @yarn.Name <button type="button" class="btn btn-outline-danger" @onclick="@(e => removeYarn(yarn))">Remove from pattern</button>
                            </div>
                        }
                        else
                        {
                            <div>
                                @yarn.Name <button type="button" class="btn btn-outline-success" @onclick="@(e => addYarn(yarn))">Add to pattern</button>
                            </div>
                        }
                    }
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/patterns">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Pattern? Pattern { get; set; }

    private ApplicationDbContext? context;
    private List<Yarn>? yarnList;

    protected override async Task OnInitializedAsync()
    {
        context ??= DbFactory.CreateDbContext();
        Pattern ??= await context.Patterns.Include(p => p.Yarns).FirstOrDefaultAsync(m => m.Id == Id);
        yarnList ??= await context.Yarns.ToListAsync();
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
        {
            var user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();
            if (user.Id != Pattern.AuthorId)
            {
                NavigationManager.NavigateTo("/patterns/details?id=" + Pattern.Id);
            }
        }

        if (Pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePattern()
    {
        context ??= DbFactory.CreateDbContext();
        var editedPattern = await context.Patterns.FindAsync(Id);
        if (editedPattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        editedPattern.Name = Pattern.Name;
        editedPattern.Content = Pattern.Content;
        editedPattern.Type = Pattern.Type;
        editedPattern.LastEditDate = DateTime.Now;

        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/patterns/details?id=" + Pattern.Id);
    }

    private void addYarn(Yarn yarn)
    {
        Pattern.Yarns.Add(yarn);
    }

    private void removeYarn(Yarn yarn)
    {
        Pattern.Yarns.Remove(yarn);
    }
}
