@page "/patterns/edit"
@attribute [Authorize]
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IWebHostEnvironment Environment

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Pattern</h2>
<hr />
@if (Pattern is null || filteredYarns is null || filteredTools is null || pictureList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Pattern" OnValidSubmit="UpdatePattern" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Pattern.Id" value="@Pattern.Id" />
                <input type="hidden" name="Pattern.AuthorId" value="@Pattern.AuthorId" />
                <input type="hidden" name="Pattern.CreationDate" value="@Pattern.CreationDate" />
                <input type="hidden" name="Pattern.LastEditDate" value="@Pattern.LastEditDate" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Pattern.Name" class="form-control" />
                    <ValidationMessage For="() => Pattern.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <InputText id="type" @bind-Value="Pattern.Type" class="form-control" />
                    <ValidationMessage For="() => Pattern.Type" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputTextArea id="content" @bind-Value="Pattern.Content" class="form-control" />
                    <ValidationMessage For="() => Pattern.Content" class="text-danger" />
                </div>
                <div class="mb-3">
                    Add yarn to pattern:
                    <div class="card card-body" style="max-height: 200px; overflow: auto;">
                    <input type="search" @bind="yarnFilter" @bind:event="oninput" />
                    <ul class="list-group list-group-flush">
                    @foreach (var yarn in filteredYarns)
                    {
                        @if (Pattern.Yarns.Contains(yarn))
                        {
                            <li class="list-group-item flex-fill">
                                <button type="button" class="btn btn-danger" @onclick="@(e => removeYarn(yarn))">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </button>
                                <a href=" @($"yarns/details?id={yarn.Id}")">@yarn.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item flex-fill">
                                <button type="button" class="btn btn-success" @onclick="@(e => addYarn(yarn))">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>
                                </button>
                                <a href=" @($"yarns/details?id={yarn.Id}")">@yarn.Name</a>
                            </li>
                        }
                    }
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    Add tool to pattern:
                    <div class="card card-body" style="max-height: 200px; overflow: auto;">
                        <input type="search" @bind="toolFilter" @bind:event="oninput" />
                        <ul class="list-group list-group-flush">
                            @foreach (var tool in filteredTools)
                            {
                                @if (Pattern.Tools.Contains(tool))
                                {
                                    <li class="list-group-item flex-fill">
                                        <button type="button" class="btn btn-danger" @onclick="@(e => removeTool(tool))">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                            </svg>
                                        </button>
                                        <a href=" @($"tools/details?id={tool.Id}")">@tool.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item flex-fill">
                                        <button type="button" class="btn btn-success" @onclick="@(e => addTool(tool))">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                            </svg>
                                        </button>
                                        <a href=" @($"tools/details?id={tool.Id}")">@tool.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <InputFile OnChange="LoadFiles" multiple />
                    <ul class="list-group">
                        @foreach(var picture in pictureList)
                        {
                            <li class="list-group-item flex-fill">
                                <img src="@picture.Path" style="max-height: 20px; max-width: auto;" />
                                <input type="text" @bind="picture.Name" />
                                @if (picturesToDelete.Contains(picture))
                                {
                                    <button type="button" class="btn btn-outline-danger" @onclick="@(e => picturesToDelete.Remove(picture))">Restore</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-outline-danger" @onclick="@(e => picturesToDelete.Add(picture))">Delete</button>
                                }
                            </li>
                        }
                    </ul>
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/patterns">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Pattern? Pattern { get; set; }

    private ApplicationDbContext? context;
    private List<Yarn>? yarnList;
    private List<Tool>? toolList;
    private IEnumerable<Picture>? pictureList;
    private List<Picture> picturesToDelete = new List<Picture>();

    private string yarnFilter = string.Empty;
    private IEnumerable<Yarn>? filteredYarns;
    private string toolFilter = string.Empty;
    private IEnumerable<Tool>? filteredTools;

    protected override async Task OnInitializedAsync()
    {
        context ??= DbFactory.CreateDbContext();
        Pattern ??= await context.Patterns.Include(p => p.Yarns).Include(p => p.Tools).FirstOrDefaultAsync(m => m.Id == Id);
        yarnList ??= await context.Yarns.ToListAsync();
        toolList ??= await context.Tools.ToListAsync();
        filteredYarns ??= yarnList.Where(y => y.Name.Contains(yarnFilter));
        filteredTools ??= toolList.Where(t => t.Name.Contains(toolFilter));
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
        {
            var user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();
            if (user.Id != Pattern.AuthorId)
            {
                NavigationManager.NavigateTo("/patterns/details?id=" + Pattern.Id);
            }
        }

        if (Pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        pictureList ??= await context.Pictures.Where(x => x.CraftObjectId == Id).ToListAsync();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePattern()
    {
        context ??= DbFactory.CreateDbContext();
        var editedPattern = await context.Patterns.FindAsync(Id);
        if (editedPattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        editedPattern.Name = Pattern.Name;
        editedPattern.Content = Pattern.Content;
        editedPattern.Type = Pattern.Type;
        editedPattern.LastEditDate = DateTime.Now;

        foreach(var picture in picturesToDelete)
        {
            string path = Path.Combine("wwwroot", picture.Path);
            context.Pictures.Remove(picture);
            File.Delete(path);
        }

        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/patterns/details?id=" + Pattern.Id);
    }

    private void addYarn(Yarn yarn)
    {
        Pattern.Yarns.Add(yarn);
    }

    private void removeYarn(Yarn yarn)
    {
        Pattern.Yarns.Remove(yarn);
    }

    private void addTool(Tool tool)
    {
        Pattern.Tools.Add(tool);
    }

    private void removeTool(Tool tool)
    {
        Pattern.Tools.Remove(tool);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {

        foreach (var file in e.GetMultipleFiles(5))
        {
            try
            {
                var trustedFileName = Path.GetRandomFileName().Split(".")[0] + Path.GetExtension(file.Name);
                var pathForSaving = Path.Combine("wwwroot", "images",
                    trustedFileName);
                var pathForDb = Path.Combine("images", trustedFileName);

                //TODO save the file in UpdatePattern function
                await using FileStream fs = new(pathForSaving, FileMode.Create);
                await file.OpenReadStream(1024*1024).CopyToAsync(fs);

                var picture = new Picture();
                picture.Path = pathForDb;
                picture.Name = Path.GetFileNameWithoutExtension(file.Name);
                picture.CraftObjectId = Pattern.Id;
                picture.CraftObject = Pattern;
                context.Pictures.Add(picture);
                await context.SaveChangesAsync();

            }
            catch (Exception ex)
            {
                
            }
        }

    }
}
