@page "/tools/details"
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Details</PageTitle>

<div>
    @if (tool is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>@tool.Name</h2>
        <div>
            <a href="@($"/tools/gallery?id={tool.Id}")">View tool gallery</a>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Material</dt>
            <dd class="col-sm-10">@tool.Material</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@tool.Type</dd>
            <dt class="col-sm-2">Brand</dt>
            <dd class="col-sm-10">@tool.Brand</dd>
            <dt class="col-sm-2">Size</dt>
            <dd class="col-sm-10">@tool.Size</dd>
        </dl>
        <div>
            <a href="@($"/tools/edit?id={tool.Id}")">Edit</a> |
            <a href="@($"/tools")">Back to List</a>
        </div>
        @if (user is not null)
        {
            @if (toolUser is null)
            {
                <button type="button" class="btn btn-warning" @onclick="@(e => addBookmark())">Add to bookmarks</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(e => deleteBookmark())">Remove from bookmarks</button>
                @if (!isOwned)
                {
                    <button type="button" class="btn btn-success" @onclick="@(e => changeIsOwned(true))">Mark as owned</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="@(e => changeIsOwned(false))">Mark as not owned</button>
                }
            }
        }

        <CommentInterface context="@context" user="@user" craftObject="@tool" />
    }
</div>

@code {
    private Tool? tool;
    private ApplicationUser? user;
    private ToolUser? toolUser;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private bool isOwned = false;

    private ApplicationDbContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        tool = await context.Tools.FirstOrDefaultAsync(m => m.Id == Id);
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
            user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();

        if (tool is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        if (user is not null)
        {
            toolUser = await context.ToolUsers.FirstOrDefaultAsync(t => t.ToolId == tool.Id && t.UserId == user.Id);
            if (toolUser is not null)
            {
                isOwned = toolUser.IsOwned;
            }
        }
    }

    private async Task addBookmark()
    {
        if (toolUser is null)
        {
            toolUser = new ToolUser();
            toolUser.Tool = tool;
            toolUser.ToolId = tool.Id;
            toolUser.User = user;
            toolUser.UserId = user.Id;
            context.ToolUsers.Add(toolUser);
            await context.SaveChangesAsync();
        }
    }

    private async Task deleteBookmark()
    {
        if (toolUser is not null)
        {
            context.ToolUsers.Remove(toolUser);
            await context.SaveChangesAsync();
            toolUser = null;
            isOwned = false;
        }
    }

    private async Task changeIsOwned(bool value)
    {
        if (toolUser is not null)
        {
            toolUser.IsOwned = value;
            await context.SaveChangesAsync();
            isOwned = value;
        }
    }
}
