@rendermode InteractiveServer
@using ArtsAndCrafts
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject IJSRuntime JsRuntime

<h2>Comments</h2>
<hr />
@if (pagedComments is null)
{
    <div>Loading...</div>
}
else
{
    @foreach (var c in pagedComments)
    {
        @if (user is not null && c.AuthorId == user.Id)
        {
            <div class="card border-info card-body">
                You commented on @c.CreationDate <hr />
                <div style="white-space: pre-wrap">@c.Content</div> <hr />
                <div> <button type="button" class="btn btn-outline-danger" @onclick="@(e => DeleteComment(c))">Delete comment</button></div>
            </div>
        }
        else
        {
            <div class="card card-body">

                @if (authorId is not null && c.AuthorId == authorId)
                {
                    <div>@c.Author.UserName <span class="badge bg-success">Pattern creator</span> commented on @c.CreationDate <hr /></div>
                }
                else
                {
                    <div>@c.Author.UserName commented on @c.CreationDate <hr /></div>
                }
                <div style="white-space: pre-wrap">@c.Content</div>
            </div>
        }
        <br />

    }
    <div>
        @if (page > 1)
        {
            <button type="button" class="btn btn-primary" @onclick="@(e => changePage(--page))">Previous page</button>
        }
        @if (page < lastPage)
        {
            <button type="button" class="btn btn-primary" @onclick="@(e => changePage(++page))">Next page</button>
        }
    </div>

    <AuthorizeView Context="authContext">
        <Authorized>
            <EditForm method="post" Model="Comment" OnValidSubmit="AddComment" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="mb-3">
                    <label for="content" class="form-label">Add new comment</label>
                    <InputTextArea id="content" @bind-Value="Comment.Content" class="form-control" />
                    <ValidationMessage For="() => Comment.Content" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>Log in to comment on this pattern</p>
        </NotAuthorized>
    </AuthorizeView>
}


@code {
    [Parameter]
    public ApplicationUser? user { get; set; }
    [Parameter]
    public CraftObject craftObject { get; set; }
    [Parameter]
    public string? authorId { get; set; }

    private List<Comment>? patternComments;
    private IEnumerable<Comment>? pagedComments;

    [Parameter]
    public ApplicationDbContext context { get; set; }

    private int page = 1;
    private int pageSize = 3;
    private int lastPage = 0;

    [SupplyParameterFromForm]
    private Comment Comment { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // context ??= DbFactory.CreateDbContext();
        patternComments = await context.Comments.Include(c => c.Author).Where(c => c.CraftObjectId == craftObject.Id).ToListAsync();
        pagedComments = patternComments.Page(page, pageSize);
        lastPage = (int)Math.Ceiling((double)patternComments.Count() / pageSize);
    }

    private async Task AddComment()
    {
        if (user is null) return;
        Comment.Author = user;
        Comment.AuthorId = user.Id;
        Comment.CraftObject = craftObject;
        Comment.CraftObjectId = craftObject.Id;
        Comment.CreationDate = DateTime.Now;
        context.Comments.Add(Comment);
        await context.SaveChangesAsync();
        patternComments.Add(Comment);
        lastPage = (int)Math.Ceiling((double)patternComments.Count() / pageSize);
        page = lastPage;
        changePage(page);
        Comment = new();
    }

    private async Task DeleteComment(Comment comment)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this comment?");
        if (confirmed)
        {
            patternComments.Remove(comment);
            context.Comments.Remove(comment);
            await context.SaveChangesAsync();
            lastPage = (int)Math.Ceiling((double)patternComments.Count() / pageSize);
            page = 1;
            changePage(page);
        }
    }

    private void changePage(int newPage)
    {
        pagedComments = patternComments.Page(page, pageSize);
    }
}
