@page "/yarns/details"
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Details</PageTitle>

<div>
    @if (yarn is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <h2>@yarn.Name</h2>
    <div>
        <a href="@($"/yarns/gallery?id={yarn.Id}")">View yarn gallery</a>
    </div>
    <hr />
        <dl class="row">
            <dt class="col-sm-2">Material</dt>
            <dd class="col-sm-10">@yarn.Material</dd>
            <dt class="col-sm-2">Color</dt>
            <dd class="col-sm-10">@yarn.Color</dd>
            <dt class="col-sm-2">Brand</dt>
            <dd class="col-sm-10">@yarn.Brand</dd>
            <dt class="col-sm-2">Weight</dt>
            <dd class="col-sm-10">@yarn.Weight</dd>
        </dl>
        <div>
            <AuthorizeView Roles="Admin">
                <a href="@($"yarns/edit?id={yarn.Id}")">Edit</a> |
                <a href="@($"yarns/delete?id={yarn.Id}")">Delete</a> |
            </AuthorizeView>
            <a href="@($"/yarns")">Back to List</a>
        </div>
        @if (user is not null)
        {
            @if (yarnUser is null)
            {
                <button type="button" class="btn btn-warning" @onclick="@(e => addBookmark())">Add to bookmarks</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(e => deleteBookmark())">Remove from bookmarks</button>
                @if (!isOwned)
                {
                    <button type="button" class="btn btn-success" @onclick="@(e => changeIsOwned(true))">Mark as owned</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="@(e => changeIsOwned(false))">Mark as not owned</button>
                }
            }
        }
        <CommentInterface context="@context" user="@user" craftObject="@yarn" />
    }
</div>

@code {
    private Yarn? yarn;
    private ApplicationUser? user;
    private YarnUser? yarnUser;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private bool isOwned;

    private ApplicationDbContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        yarn = await context.Yarns.FirstOrDefaultAsync(m => m.Id == Id);
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
            user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();

        if (yarn is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task addBookmark()
    {
        if (yarnUser is null)
        {
            yarnUser = new YarnUser();
            yarnUser.Yarn = yarn;
            yarnUser.YarnId = yarn.Id;
            yarnUser.User = user;
            yarnUser.UserId = user.Id;
            context.YarnUsers.Add(yarnUser);
            await context.SaveChangesAsync();
        }
    }

    private async Task deleteBookmark()
    {
        if (yarnUser is not null)
        {
            context.YarnUsers.Remove(yarnUser);
            await context.SaveChangesAsync();
            yarnUser = null;
            isOwned = false;
        }
    }

    private async Task changeIsOwned(bool value)
    {
        if (yarnUser is not null)
        {
            yarnUser.IsOwned = value;
            await context.SaveChangesAsync();
            isOwned = value;
        }
    }
}
