@page "/yarns/edit"
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Yarn</h2>
<hr />
@if (Yarn is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Yarn" OnValidSubmit="UpdateYarn" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Yarn.Id" value="@Yarn.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Yarn.Name" class="form-control" />
                    <ValidationMessage For="() => Yarn.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="material" class="form-label">Material:</label>
                    <InputText id="material" @bind-Value="Yarn.Material" class="form-control" />
                    <ValidationMessage For="() => Yarn.Material" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color:</label>
                    <InputText id="color" @bind-Value="Yarn.Color" class="form-control" />
                    <ValidationMessage For="() => Yarn.Color" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <InputText id="brand" @bind-Value="Yarn.Brand" class="form-control" />
                    <ValidationMessage For="() => Yarn.Brand" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Weight:</label>
                    <InputNumber id="weight" @bind-Value="Yarn.Weight" class="form-control" />
                    <ValidationMessage For="() => Yarn.Weight" class="text-danger" />
                </div>
                <PictureInterface craftObject="@Yarn" pictureList="@pictureList" newPictures="@newPictures" maxFileSizeBytes="@maxFileSizeBytes" picturesToDelete="@picturesToDelete" />
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/yarns">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Yarn? Yarn { get; set; }

    private ApplicationDbContext? context;

    private IEnumerable<Picture>? pictureList;
    private List<Picture> picturesToDelete = new List<Picture>();
    private List<Tuple<Picture, IBrowserFile>> newPictures = new List<Tuple<Picture, IBrowserFile>>();
    private int maxFileSizeBytes = 1024 * 1024;

    protected override async Task OnInitializedAsync()
    {
        context ??= DbFactory.CreateDbContext();
        Yarn ??= await context.Yarns.FirstOrDefaultAsync(m => m.Id == Id);

        if (Yarn is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        pictureList ??= await context.Pictures.Where(x => x.CraftObjectId == Id).ToListAsync();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateYarn()
    {
        context ??= DbFactory.CreateDbContext();
        var editedYarn = await context.Yarns.FindAsync(Id);
        if (editedYarn is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        editedYarn.Name = Yarn.Name;
        editedYarn.Material = Yarn.Material;
        editedYarn.Color = Yarn.Color;
        editedYarn.Brand = Yarn.Brand;
        editedYarn.Weight = Yarn.Weight;
        // context.Attach(Yarn!).State = EntityState.Modified;

        
        foreach (var item in newPictures)
        {
            await using FileStream fs = new(Path.Combine("StaticFiles", item.Item1.Path), FileMode.Create);
            await item.Item2.OpenReadStream(maxFileSizeBytes).CopyToAsync(fs);
            context.Pictures.Add(item.Item1);
        }

        foreach (var picture in picturesToDelete)
        {
            string path = Path.Combine("StaticFiles", picture.Path);
            context.Pictures.Remove(picture);
            File.Delete(path);
        }
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/yarns/details?id=" + Yarn.Id);
    }

    private bool YarnExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Yarns.Any(e => e.Id == id);
    }
}
