@page "/administration"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer
@using ArtsAndCrafts.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


<h3>Administration</h3>


@if (users.Count() == 0)
{
    <div>Loading...</div>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class ="table-primary">
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Admin priviledge</th>
                <th scope="col">Edit priviledge</th>
                <th scope="col">Delete user account</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var userRole in users)
            {
                <tr>
                    <td>@userRole.user.UserName</td>
                    <td>@userRole.user.Email</td>
                    @if (userRole.isAdmin)
                    {
                        <td class="table-success">Yes</td>
                        @if (currentUser.Id == userRole.user.Id)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btn btn-danger" @onclick="@(e => ChangePriviledges(userRole))">Remove admin priviledge</button>
                            </td>
                        }
                    }
                    else
                    {
                        <td>No</td>
                        <td>
                            <button type="button" class="btn btn-success" @onclick="@(e => ChangePriviledges(userRole))">Grant admin priviledge</button>
                        </td>
                    }
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="@(e => DeleteUser(userRole.user))">Delete user</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private record class UserRole
    {
        public ApplicationUser user;
        public bool isAdmin;
        public UserRole(ApplicationUser user, bool isAdmin)
        {
            this.user = user;
            this.isAdmin = isAdmin;
        }
    }
    List<UserRole> users = new List<UserRole>();
    ApplicationUser? currentUser;

    protected override async Task OnInitializedAsync()
    {
        var username = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
        currentUser = await UserManager.FindByNameAsync(username);
        var applicationUsers = UserManager.Users.ToList();
        foreach(var user in applicationUsers)
        {
            var role = await UserManager.IsInRoleAsync(user, "Admin");
            users.Add(new UserRole(user, role));
        }
    }

    async Task ChangePriviledges(UserRole userRole)
    {
        bool isInRole = await UserManager.IsInRoleAsync(userRole.user, "Admin");
        if (isInRole)
        {
            await UserManager.RemoveFromRoleAsync(userRole.user, "Admin");
            userRole.isAdmin = false;
        }
        else
        {
            await UserManager.AddToRoleAsync(userRole.user, "Admin");
            userRole.isAdmin = true;
        }
        StateHasChanged();
    }

    async Task DeleteUser(ApplicationUser user)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete user {user.UserName}?");
        if (confirmed)
        {
            await DeleteUserPatterns(user);
            await UserManager.DeleteAsync(user);
            NavigationManager.NavigateTo("/administration"); // TODO this doesnt refresh the page
        }
    }

    private async Task DeleteUserPatterns(ApplicationUser user)
    {
        using var context = DbFactory.CreateDbContext();
        var patterns = await context.Patterns.Include(p => p.Tools).ThenInclude(t => t.Patterns).Include(p => p.Yarns).ThenInclude(y => y.Patterns).Where(p => p.AuthorId == user.Id).ToListAsync();
        foreach (var pattern in patterns)
        {
            var comments = await context.Comments.Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
            foreach (var comment in comments)
            {
                context.Comments.Remove(comment);
            }
            var pictures = await context.Pictures.Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
            foreach (var picture in pictures)
            {
                string path = Path.Combine("StaticFiles", picture.Path);
                context.Pictures.Remove(picture);
                File.Delete(path);
            }
            foreach (var tool in pattern.Tools)
            {
                tool.Patterns.Remove(pattern);
            }
            foreach (var yarn in pattern.Yarns)
            {
                yarn.Patterns.Remove(pattern);
            }

            context.Patterns.Remove(pattern!);
            await context.SaveChangesAsync();
        }
        
    }

}
